<div class="pagetitle">
  <h1>Preguntas Frecuentes</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/admin/images">imagenes</a></li>
      <li class="breadcrumb-item active">Agregar</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="container">
  <form action="/admin/images/addImages" method="post" enctype="multipart/form-data">
    <div class="my-4 row row-cols-2">
      <div class="mb-1 col">
        <label
          for="exampleFormControlInput1"
          class="form-label"
        >Categoria</label>
        <select class="form-select" aria-label="Default select example" name="categoria">
          <option value="portada">portada</option>
          <option value="banner">banner</option>
          <option value="farmacias">farmacias</option>
        </select>
      </div>
      <div class="col">
        <label for="formFile" class="form-label">Imagen</label>
      <input class="form-control" type="file" id="img" name="imagen"/>
      </div>
        
      
      
</div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/if}}
  </form>